
@{
    ViewBag.Title = "Index";
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign-In with Microsoft Sample</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
</head>
<body style="padding:50px">
    <center>
        <center>
            @{
                var fullname = ViewBag.Name;
                string[] name = fullname.Split(' ');
                char firstInitial = name[0][0];
                char lastInitial = name[name.Length - 1][0];
                string initials = firstInitial + lastInitial.ToString();
            }
            <div class="circle" style="margin-top:50px;">
                <p class="circle-inner">@initials</p>
            </div>
            <h3 class="card-title"><strong>@ViewBag.Name</strong></h3>
        </center>
        <div class="card border-secondary mb-3 shadow p-3 mb-5 bg-white rounded" style="max-width:25rem;margin-top:50px;">
            <div class="card-body">
                <p class="card-text" style="align-content:flex-start;">
                    <strong>Email:</strong>@ViewBag.Username<br />
                    <strong>Plate Number:</strong>
                    <br />
                    <strong>Contact Number:</strong>
                    <br />
                    <strong>Vehicle:</strong>
                </p>
            </div>
        </div>
    </center>
</body>
</html>
